.login-wrapper {
  display: flex;
  align-items: center;
}
.login-wrapper .left-section {
  width: 40%;
  display: inline-flex;
  background: #5A8DEE;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  position: relative;
  z-index: 1;
}
.login-wrapper .left-section::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url('../../../src/assets/img/white-abstract-bg.png') no-repeat;
  background-size: 100%;
  opacity: 0.1;
  z-index: -1;
  background-position: bottom;
}
.login-wrapper .left-section .left-section-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  right: 0;
  height: 100px;
}
.login-wrapper .left-section .left-section-inner h2 {
  color: #ffffff;
  display: flex;
  width: 100%;
  margin: 15px 0;
  justify-content: center;
  font-size: 28px;
}
.login-wrapper .left-section .left-section-inner p {
  color: #ffffff;
  margin: 0;
  padding: 0px 20px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}
.login-wrapper .right-section {
  width: 60%;
  display: inline-flex;
  justify-content: center;
}
.login-wrapper .right-section .not-a-custo {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.login-wrapper .right-section .not-a-custo .button-wrapper {
  display: inline-flex;
  margin-left: 15px;
}
.login-wrapper .right-section .right-section-inner {
  width: 50%;
  text-align: center;
}
.login-wrapper .right-section .right-section-inner h2 {
  color: #475F7B;
  margin-bottom: 30px;
}
.login-wrapper .right-section .right-section-inner .username-field {
  margin-bottom: 30px;
  position: relative;
}
.login-wrapper .right-section .right-section-inner .username-field .forgot-pass {
  color: #475F7B;
  text-decoration: underline;
  font-size: 12px;
  position: absolute;
  bottom: -20px;
  right: 0;
  cursor: pointer;
  font-weight: 500;
}
.login-wrapper .right-section .right-section-inner .username-field .show-pass {
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 24px;
  cursor: pointer;
}
.login-wrapper .right-section .right-section-inner .username-field:nth-of-type(3) .MuiInputBase-input {
  padding-right: 45px;
}
.login-wrapper .right-section .right-section-inner .btn-section {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-wrapper .right-section .right-section-inner .btn-section span.use-custom {
  color: #475F7B;
  text-decoration: underline;
  font-size: 12px;
  cursor: pointer;
}
